RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^lib/ /does-not-exist [L]
RewriteRule ^vendor/ /does-not-exist [L]

RewriteRule ^ index.php [QSA,L]